header {
    text-align: center;
    font-size: 12px;
}
#blok_searchRequest, #select, #bt_sendRequest {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid lightslategrey;
    border-radius: 5px;
    height: 35px;
}
#blok_searchRequest, #select {
    min-width: 300px;
}
#blok_searchRequest{
    height: 30px;
}
#bt_sendRequest{
    background-color: #333340;
    color: white;
}
#error {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #31bcfe;
    opacity: 0.8;
}
#errorRequest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border: 2px solid #333340;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: black;
}